h1 {
    font-family: nyt-magslab;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
}

span {
    background-image: linear-gradient(transparent 64%, #c8dadf 0);
    background-size: 100% 70%;
    background-position: 0 50%;
    background-repeat: no-repeat;
}

article {
    max-width: 600px;
    width: calc(100% - 40px);
    margin: 0 auto;
    hyphens: auto;
    font-family: 'nyt-imperial';
    font-size: 18px;
    line-height: 25px;
    overflow-wrap: break-word;
}

a {
    color: blue;
    text-decoration: none;
}

#ref {
    font-family:'Courier New', Courier, monospace;
}